.footer {
  max-width: 100vw;

  padding-top: 250px;

  @include tablet {
    padding-top: 150px;
  }

  @include mobile {
    padding-top: 100px;
  }

  &__block {
    width: 100%;
    height: 255px;
    background-color: var(--color-oranje);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      height: 155px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.block__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 160px;
  width: 100%;

  @include desktop {
    padding-inline: 40px;
  }

  @include tablet {
    gap: 20px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  @include mobile {
    gap: 17px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
