.header {
  padding-top: 50px;

  &__title {
  }

  @include desktop {
    padding-top: 25px;
  }

  @include mobile {
    padding-top: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 55px;

    @include mobile {
      column-gap: 0;
    }
  }

  &__menu {
    margin-left: auto;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 80px;

      @include desktop {
        column-gap: 50px;
      }

      @include mobile {
        display: none;
      }
    }

    .header__menu__link,
    .header__menu-dropdown  {
      position: relative;
      height: 40px;
      display: inline-flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: var(--color-oranje);
        transition: width 0.2s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__arrow {
    transform: scale(0.7);

    @include tablet {
      transform: scale(0.4);
    }
  }
}

.dropdown__content {
  font-size: 18px;
  display: none;
  position: absolute;
  background-color: inherit;
  z-index: 1;
  padding-top: 140px;

  @include desktop {
    font-size: 14px;
    padding-top: 120px;
  }

  @include tablet {
    padding-top: 110px;
    font-size: 12px;
  }
}

.dropdown__content a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5px;
}

.dropdown:hover .dropdown__content {display: block;}

.dropdown__content a:hover {
  background-color: var(--color-oranje);
  transition: 0.5s;
}

.attainment {
  padding: 0px;
}
