.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-info::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: var(--color-oranje);
  margin: 20px auto 0;
  border-radius: 15px;

  @include tablet {
    width: 120px;
    margin: 15px auto 0;
    height: 1px;
    border-radius: 5px;
  }

  @include mobile {
    width: 100px;
    margin: 10px auto 0;
    height: 1px;
    border-radius: 5px;
  }
}

.subtitle {
  padding-top: 60px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  @include mobile {
    padding-top: 25px;
  }
}

.main {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 auto;
}