.mobile-overlay {
  position: fixed;
  z-index: 100;
  width: 75%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: var(--color-light);
  animation: Wrapper 0.6s;

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    gap: 35px;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }
}

.menu-overlay__link {
  border-bottom: 1px solid #cdcccc;
  padding: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

button.mobile-overlay__close-button:focus,
button.mobile-overlay__close-button:focus-visible {
  outline: none;
}

button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
button:active {
  outline: none;
  user-select: none;
}

dialog:focus-within {
  outline: none;
}

@keyframes Wrapper {
0% {
transform: translateX(300px);
  opacity: 0;
}
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
