body {

  outline: none;
  -webkit-tap-highlight-color: transparent;
a {

  outline: none;
  -webkit-tap-highlight-color: transparent;

}

  button {
    -webkit-tap-highlight-color: transparent;
  }

  @include fluid-text(22, 15);
  font-weight: 400;

  font-family: var(--font-family-base);
  line-height: normal;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fluid-text(30, 22);
  font-weight: 400;
}
h2 {
  @include fluid-text(24, 18);
  font-weight: 400;
}
