:root {
  --color-light: #F4EFEF;
  --color-dark: #231F1F;
  --color-oranje: #FF5E00;

  --border: 1px solid #FF5E00;
  --border-radius: 5px;

  --font-family-base:'K2D', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 40px;
  --container-mobile-padding-x: 10px;


  --section-padding-y: 50px;
  --transition-duration: 0.2s;
}